/* font-family, weight 400 */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* header font, weight 700 */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');

/* font-family for toggle switch button, weight 500 */
@import url('https://v1.fontapi.ir/css/SFProDisplay:500');

@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');

body {
    font-style: normal;
    font-family: 'Rubik', sans-serif;
    height: 100vh;
    max-width: 100vw;
    background-color: var(--main-background-color);
    background-image: url('../images/background_mobile_dark_stars.svg'), linear-gradient(180deg, #163295 0%, #0E163D 100%);
    background-repeat: repeat;
}

@media screen and (min-width: 1280px) {
    body {
		background: url(../images/background_dekstop.png);
		background-size: cover;
	}
    .header__title, .title-experience {
        font-size: 3rem;   
    }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
        .header__title, .title-experience {
            font-size: 2rem;   
        }
        

    }
    @media screen and (min-width: 769px) and (max-width: 1279px) {

        .header__title, .title-experience {
            font-size: 2.7rem;   
        }
        .container__arrow-back {
            min-width: 7vw;
        }
    }

p {
	margin: 0;
	padding: 0;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}

/*общие стили для всех страниц анкеты*/

.header__title, .title-experience {
    margin-top: 5%;
    min-height: 20vh;
    margin-bottom: 0;
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 28px;
    color: var(--main-font-color);
}

/* variables */
:root {
    --main-font-color: #FFFFFF;
    --toggle-checked-font-color: #92D5F1;
    --main-background-color: #11205B;
    --main-font-family: 'Rubik', sans-serif;
    --toggle-font-family: 'SF Pro Display', sans-serif;
    --toggle-width: 74vw;
	--toggle-height: calc(var(--toggle-width) / 5.5);
    --general-border-radius: 50px;
}


.button-container{
    width: 100vw;
    height: min-content;
    position: absolute;
    bottom: 3%;
    display: flex;
    justify-content: center;

}

